@import "tailwindcss";

* {
  font-family: poppins;
}
.grid-lime {
  background-image:
    linear-gradient(rgba(43, 255, 0, 0.549) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.164) 1px, transparent 1px);

  background-size: 48px 48px;
}

button {
  cursor: pointer;
}
